.logo {
    margin: 26px;
}
.imgNaranja {
	width: 90%;
	margin: 25px 0 0 50px;
}
.info{
            width: 250px;
	padding: 37px 0 18px 61px;
	float: left;
}
.infoEarth {
	width: 500px;
	padding-bottom: 47px;

}
footer {
	background-image: url('../img/footerImg.jpg');
	width: 85%;
	margin: 0 auto;
	border-top: 3px solid  $color-orange;
	border-bottom: 9px solid #5a453b;
}