//Colores
$color-brown: #6b3b25;
$color-grayLight: #ebe6df;
$color-orange: #e09402;
$color-brownLight: #e7d7ba;
$color-mostaza:#ca8f1d;

//Typographia
$font-lato: 'Lato', sans-serif;
$font-arvo: 'Arvo',serif;